# Entorno virtual
.venv/
venv/
ENV/

# Base de datos y archivos privados
db/

# Archivos de Excel temporales (cuando están abiertos)
~$*.xlsx

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class